body,
html {
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  //padding: 0.5rem;
  //width: min-content;
  //width: 100%;
  overflow: hidden;
  //resize: vertical;
  height: 55vh;
}

.bg {
  position: relative;
  background: var(--secondary-container-transluscent);
  width: 100%;
  border-radius: 0.75rem;
  /* height: calc(100% - 3rem); */
  height: 100%;
}

ul {
  font-family: sans-serif;
  list-style-type: none;
  padding: 0.4rem 0;
  //margin-bottom: 0.5rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  li {
    --hue: 216deg;
    background: hsl(var(--hue), 90%, 25%);
    color: white;
    //color: var(--text-color);
    width: fit-content;
    padding: 0.6rem 0.9rem;
    margin: 0.4rem 0.4rem 0 0.4rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    max-width: calc(100% - 15rem);
    line-height: 115%;
    hyphens: auto;
    font-weight: 400;
    font-size: 1.2rem;

    &.them + li.them {
      margin: 0.2rem 0.4rem 0 0.4rem;
      color: white !important;
    }

    &.me {
      align-self: flex-end;
      border-radius: 1rem 1rem 0 1rem;
      background: var(--my-chat-message);
      color: var(--text-color);

      + li.me {
        margin: 0.2rem 0.4rem 0 0.4rem;
      }
    }

    &.status {
      background: none;
      color: var(--navbar-logos);
      max-width: none;
      width: 100%;
      padding: 0;
      margin: 0.4rem 0;
      text-align: center;
      font-size: 75%;
      font-style: italic;
    }
  }
}

form {
  display: block;
  margin-top: 1rem;
  width: calc(100% + 0.3rem);

  input {
    background: var(--secondary-container-transluscent);
    border-radius: 0.75rem 0 0 0.75rem;
    margin-right: 0;
    padding: 0.5rem 0.7rem;
    //border: 0.0625rem solid #555;
    border: none;
    width: calc(100% - 50px);
    /* position: absolute; */
    left: 0;
    color: var(--text-color);
  }

  button {
    width: 40px;
    background-color: var(--secondary-container);
    border-radius: 0 0.75rem 0.75rem 0;
    //border-width: 0.0625rem;
    border: none;
    padding: 0.5rem 0.4rem;
    margin: 0;
    /* position: absolute; */
    left: 0.2rem;
  }
}
