li {
  line-height: 1rem;
}

details {
  border-radius: 1.35rem;
  background: var(--secondary-container);

  div {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    //align-content: center;
    align-items: center;
  }

  summary.fancy-button {
    width: 100%;
    border-radius: 1.35rem;
  }

  &[open] {
    summary {
      background: #ebebeb;
      color: var(--blue);
      box-shadow: var(--button-box-shadow);
    }
  }

  form {
    padding: 1rem 0;
  }
}
