<div>
  <div class="d-flex justify-content-center" style="padding: 4rem 0">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="login-header">
        <h1 jhiTranslate="login.title" data-cy="loginTitle">Sign in</h1>
      </div>
      <div class="login-container">
        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
          <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="mb-3">
            <label class="username-label" for="username" jhiTranslate="global.form.username.label">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
            />
          </div>

          <div class="mb-3">
            <label style="text-align: left" for="password" jhiTranslate="login.form.password">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
            />
          </div>

          <div class="question-boxes">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span jhiTranslate="login.form.rememberme">Remember me</span>
            </label>
          </div>
          <br />
          <div class="question-boxes">
            <button type="submit" class="fancy-button" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
          </div>
        </form>
        <br />
        <div class="question-boxes">
          <a
            class="alert-link"
            routerLink="/account/reset/request"
            jhiTranslate="login.password.forgot"
            data-cy="forgetYourPasswordSelector"
            >Did you forget your password?</a
          >
        </div>
        <br />
        <div class="question-boxes">
          <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      </div>
    </div>
  </div>
</div>
