.button {
  width: 1000px;
}
.submit-button-container {
  display: flex;
  align-items: center;
  background-color: #1a1f28;
  padding: 100%;
}
.username-label {
  text-align: left !important;
  float: left;
}
