<div class="text">
  <h1>studySea GDPR Policy</h1>
  <p>This privacy policy will explain how our organisation uses the personal data we collect from you when you use our website.</p>
  <h2>What data do we collect?</h2>
  <p>studySea will take the following data from the user:</p>
  <ul>
    <li>User&rsquo;s Email Address.</li>
    <li>User&rsquo;s Password.&nbsp;</li>
    <li>User&rsquo;s Username.&nbsp;</li>
    <li>User&rsquo;s individual tasks.</li>
    <li>User&rsquo;s friends.&nbsp;</li>
    <li>User&rsquo;s Posts.&nbsp;</li>
    <li>Chat messages.&nbsp;</li>
    <li>Optional user data.&nbsp;</li>
    <li>Privacy Preference.&nbsp;</li>
    <li>Accessibility Preferences.</li>
  </ul>
  <h2>How do we collect your data?</h2>
  <p>
    Most user data is directly provided for by users via input interfaces that clearly identify what data is needed and why which is then
    pushed to our database. This data is then stored in our database and later accessed via the Swagger API. Methods for collecting data
    include
  </p>
  <ul>
    <li>The registration screen that asks for a username, email, and password as well as optional personal information.</li>
    <li>Adding friends in the friends' page that asks what user you want to add.</li>
    <li>Post page that allows you to add posts.</li>
    <li>Schedule page that allows you to add tasks.</li>
    <li>Privacy preferences in settings that are customisable.</li>
    <li>Accessibility preferences in settings</li>
    <li>Use or view our website via your browser&rsquo;s cookies.</li>
  </ul>
  <p>
    In general, to access and edit how your data is used by studySea, there are several options. Most of which lie within the privacy
    settings on the user settings page, allowing you to choose who can see your posts/tasks, what personal data can other users see, who can
    interact with you, etc. Other personal data can be added, changed or removed on the profile page where there is further detail on full
    name, courses studied, current school etc.<br />studySea does not attempt to obtain data indirectly.
  </p>
  <p>studySea collects your data so that we can:</p>
  <ul>
    <li>Connect you with friends and peers in group study sessions via your UserID and Username.</li>
    <li>Email your confirmation email and allow you to change the password when forgotten.</li>
    <li>Share your posts, tasks, and public information with others</li>
    <li>Create viewable analytics of past data</li>
    <li>Add and view personal information given.</li>
    <li>Connects you to the web app</li>
    <li>Change User Interface in accordance with preferences</li>
    <li>
      Password and Username are used to be able to log in. Since the username is shared, the password is used as the key to access it.
    </li>
    <li>Use input data on the post page and schedule page to make and edit tasks.</li>
    <li>Share messages with the appropriate receiver.</li>
    <li>Change the accessibility and privacy options.</li>
  </ul>
  <p>By agreeing with studySea&rsquo;s privacy policy, you are agreeing that your data will be used in these ways.</p>
  <p>You are also agreeing that your data will be shared with:</p>
  <ul>
    <li>studySea</li>
    <li>The University of Birmingham</li>
    <li>Your email provider</li>
    <li>Other users</li>
  </ul>
  <p>
    With relation to the storing of user data, it will be stored on a virtual machine running run by Amazon Web Services in London, overseen
    by the University of Birmingham.
  </p>
  <p>When confirming your email or getting a new password, an email will be sent to the user.</p>
  <p>Your privacy settings determine which other users will be able to see your personal information.</p>
  <h2>How do we store your data?</h2>
  <ul>
    <li>
      studySea safely stores your data on a PostgreSQL database in the &ldquo;eu-west-2&rdquo; server in London provided by the University
      of Birmingham.
    </li>
    <li>
      studySea ensures data security by automatically hashing the user's passwords during registration and sending a verification email to
      the registered to check the authenticity of the new user. It also has two different types of users, ROLE_USER and ROLE_ADMIN that
      restrict or enable access to the database e.g., ROLE_USER can access its own account data but not that of others.
    </li>
    <li>
      Data regarding chat messages, IP addresses and connections between users during a study session is deleted after the study session is
      completed. Once this period has expired, we will delete these data by simply removing the log record from the database.
    </li>
    <li>
      Optional personal information from the user can be removed at any time by the user e.g. profile picture, added friends, individual
      posts and more. All other user-submitted data can be changed including username, email, password etc. but necessary backend data like
      User ID is immutable and indefinite.
    </li>
    <li>
      If the user is inactive for 5 years, their account will be removed as well as all data submitted by them including personal
      information, study session information, league information, connections to other users etc.
    </li>
  </ul>

  <h2>What are your data protection rights?</h2>
  <p>studySea would like to make sure you are fully aware of all your data protection rights. Every user is entitled to the following:</p>
  <ul>
    <li>
      The right to access &ndash; You have the right to request studySea for copies of your personal data. We may charge you a small fee for
      this service.
    </li>
    <li>
      The right to rectification &ndash; You have the right to request that studySea correct any information you believe is inaccurate. You
      also have the right to request studySea to complete the information you believe is incomplete.
    </li>
    <li>The right to erasure &ndash; You have the right to request that studySea erase your personal data, under certain conditions.</li>
    <li>
      The right to restrict processing &ndash; You have the right to request that studySea restrict the processing of your personal data,
      under certain conditions.
    </li>
    <li>
      The right to object to processing &ndash; You have the right to object to studySea&rsquo;s processing of your personal data, under
      certain conditions.
    </li>
    <li>
      The right to data portability &ndash; You have the right to request that studySea transfer the data that we have collected to another
      organisation, or directly to you, under certain conditions.
    </li>
  </ul>
  <h2>Cookies</h2>
  <p>
    Cookies are text files placed on your computer to collect standard Internet log information. studySea may collect information from you
    automatically through cookies or similar technology. We use cookies to help with the following:
  </p>
  <ul>
    <li>Keeping you signed in</li>
    <li>Tracking our performance by viewing traffic to our web app</li>
    <li>Smoother performance for the chatting system such as having chats be visible after refreshing</li>
    <li>
      Better performance in general since caches are set up for familiar users. So filled in the textbox information and was able to keep
      track of the session and re-join.
    </li>
  </ul>
  <p>There are a few different types of cookies, however, our website uses:</p>
  <ul>
    <li>
      Session cookies &ndash; studySea uses these temporary cookies to keep track of user activity whether that be in re-joining a study
      session, or if you were in the process of creating a task or post and reloading the page, you can continue where you left off.
    </li>
    <li>
      Secure Cookies - studySea uses these cookies securely and sends messages over an encrypted connection such as in the case of chatting
      during study sessions.&nbsp;&nbsp;
    </li>
    <li>
      Persistent Cookies - These cookies are stored on your device and remain there even after you close your browser. They are used to
      remember your preferences and settings for future visits to a website.
    </li>
  </ul>
  <p>
    studySea uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and
    information about your browser, device, and your IP address.&nbsp;
  </p>
  <p>
    You can set your browser to refuse cookies, however, in a few cases, some of our website features may not function as a result or as
    well.
  </p>

  <h2>Privacy policies of other websites</h2>
  <p>
    The studySea website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
    another website, you should read their privacy policy.
  </p>
  <h2>Changes to our privacy policy</h2>
  <p>
    studySea keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on
    the 15th of March 2023.
  </p>
  <h2>How to contact us</h2>
  <p>
    If you would like to make a request regarding your data protection rights or an enquiry, we have one month to respond to you. Please
    contact us:
  </p>
  <p>Email us at any of the following addresses:</p>
  <ul>
    <li>nac120@student.bham.ac.uk</li>
    <li>exd157@student.bham.ac.uk</li>
    <li>nba122@student.bham.ac.uk</li>
    <li>lvp103@student.bham.ac.uk</li>
    <li>gxm116@student.bham.ac.uk</li>
    <li>hxa063@student.bham.ac.uk</li>
    <li>tsa018@student.bham.ac.uk</li>
  </ul>
  <h2>How to contact the appropriate authority</h2>
  <p>
    Should you wish to report a complaint or if you feel that studySea has not addressed your concern in a satisfactory manner, you may
    contact the School of Computer Science at the University of Birmingham:
  </p>
  <p>
    <b>Number:</b> 0121 414 3744<br />
    <b>Email:</b> csoffice@contacts.bham.ac.uk<br /><br />
    <b>Address:</b><br />
    The School of Computer Science<br />
    The University of Birmingham<br />
    Edgbaston<br />
    Birmingham<br />
    B15 2TT<br />
    United Kingdom
  </p>
</div>
