<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-user-extended-heading"
        data-cy="UserExtendedCreateUpdateHeading"
        jhiTranslate="teamprojectApp.userExtended.home.createOrEditLabel"
      >
        Create or edit a User Extended
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.institution" for="field_institution">Institution</label>
          <input
            type="text"
            class="form-control"
            name="institution"
            id="field_institution"
            data-cy="institution"
            formControlName="institution"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.course" for="field_course">Course</label>
          <input type="text" class="form-control" name="course" id="field_course" data-cy="course" formControlName="course" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.privacy" for="field_privacy">Privacy</label>
          <input type="checkbox" class="form-check" name="privacy" id="field_privacy" data-cy="privacy" formControlName="privacy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.darkMode" for="field_darkMode">Dark Mode</label>
          <input type="checkbox" class="form-check" name="darkMode" id="field_darkMode" data-cy="darkMode" formControlName="darkMode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userExtended.studySession" for="field_studySession">Study Session</label>
          <select
            class="form-control"
            id="field_studySession"
            data-cy="studySession"
            name="studySession"
            formControlName="studySession"
            [compareWith]="compareStudySession"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="studySessionOption" *ngFor="let studySessionOption of studySessionsSharedCollection">
              {{ studySessionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
