<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-heading" data-cy="PostCreateUpdateHeading" jhiTranslate="teamprojectApp.post.home.createOrEditLabel">
        Create or edit a Post
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.creationTime" for="field_creationTime">Creation Time</label>
          <div class="d-flex">
            <input
              id="field_creationTime"
              data-cy="creationTime"
              type="datetime-local"
              class="form-control"
              name="creationTime"
              formControlName="creationTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.likes" for="field_likes">Likes</label>
          <input type="number" class="form-control" name="likes" id="field_likes" data-cy="likes" formControlName="likes" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.post.likedBy" for="field_likedBy">Liked By</label>
          <textarea class="form-control" name="likedBy" id="field_likedBy" data-cy="likedBy" formControlName="likedBy"></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
