<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="afterStudy">
      <h2 data-cy="afterStudyDetailsHeading"><span jhiTranslate="teamprojectApp.afterStudy.detail.title">After Study</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ afterStudy.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.afterStudy.timeSpent">Time Spent</span></dt>
        <dd>
          <span>{{ afterStudy.timeSpent | duration }} ({{ afterStudy.timeSpent }})</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.afterStudy.task">Task</span></dt>
        <dd>
          <div *ngIf="afterStudy.task">
            <a [routerLink]="['/task', afterStudy.task.id, 'view']">{{ afterStudy.task.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/after-study', afterStudy.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
